<div class="container-fluid">
        <!-- footer -->
        <div class="row footer">
            <div class="col-12">
                <div class="row p-4">
                    <div class="col-12 col-md-4 col-lg-2 mb-3">
                        <h5>Navigate</h5>
                        <ul>
                            <li><a href="/" class="link">Home</a></li>
                            <li><a href="/rentals" class="link">Rentals</a></li>
                            {{#if user}}
                                <li><a href="/logout" class="link">LOG-OUT</a></li>
                            {{else}}
                                <li><a href="/sign-up" class="link">Sign-up</a></li>
                                <li><a href="/log-in" class="link">Log-in</a></li>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="col-12 col-md-8 col-lg-7 mb-3">
                        <h5>Policy Statement</h5>
                        <p>By submitting this assignment I declare that this assignment is my own work in accordance with
                            the Seneca Academic Policy. No part of this assignment has been copied manually or
                            electronically from any other source (including web sites) or distributed to other students.</p>
                        <h6>©Arina Kolodeznikova, akolodeznikova@myseneca.ca, WEB322 Winter 2023</h6>
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <h5>Follow / Contact Us</h5>
                        <a href="https://www.facebook.com/" role="button"><i class="fa fa-facebook-f fa-2x"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a>
                        <a href="https://telegram.org/"><i class="fa fa-telegram fa-2x"></i></a>
                        <a href="https://mail.google.com"><i class="fa fa-google fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>