 <!-- navbar -->
    <nav class="navbar-light navbar navbar-expand-sm sticky-top">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="logo" class="logo" height="26">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/rentals">RENTALS</a></li>
            {{#if user}}
              <li><a class="nav-link name">{{user.firstName}} {{user.lastName}}</a></li>
              <li><a class="nav-link" href="/logout">LOG-OUT</a></li>
            {{else}}
              <li class="nav-item"><a class="nav-link" href="/sign-up">SIGN-UP</a></li>
              <li class="nav-item"><a class="nav-link" href="/log-in">LOG-IN</a></li>
            {{/if}}
          </ul>
        </div>
    </nav>