<div class="row form">
    <div class="col title">
        <h3>Welcome Back</h3>
        <p>Enter your email and password to log in</p>
    </div>
</div>
<div class="row form">
    <div class="col">
            <form method="post" action="/log-in">
                <div class="p-2 mt-3">
                    <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="p-2 mt-1">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <button type="submit" class="btn m-3">Submit</button>
            </form>
    </div>
</div>
