<div class="row form">
    <div class="col title">
        <h3>Sign-Up</h3>
        <p>Create your account by entering your email address and choosing your password</p>
    </div>
</div>
<div class="row form">
    <div class="col">
            <form method="post" action="/sign-up">
                <div class="p-3 pt-4">
                    <input type="text" class="form-control" id="first-name" placeholder="First Name">
                </div>
                <div class="p-3">
                    <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                </div>
                <div class="p-3">
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="p-3">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button type="submit" value="Sign-Up" class="btn m-3">Submit</button>
            </form>
    </div>
</div>
