<div class="row welcome">
    <div class="col-12 color-overlay d-flex justify-content-center align-items-center">
        <div class="welcome-text">
            <h1>Welcome to the RentAll website!</h1>
            <p>Thank you for creating an account on our website</p>
        </div>
    </div>
</div>